*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', serif;
}
.all-content{
background: #D9CBAE;
}
html::-webkit-scrollbar-track{
background: transparent;
}

html::-webkit-scrollbar-thumb{
background: #A68A6B;
border-radius: 10px;
}
html::-webkit-scrollbar{
width: 10px;
}
/* navbar */
#navbar{
background-color: #D9CBAE;
font-family: 'Montserrat', sans-serif;
}
#logo img{
width: 50px;
margin-left: 20px;
}
.navbar-nav{
margin-left: 50px;
}
.nav-item .nav-link{
color: white;
margin-left: 10px;
transition: 0.5s;
}
.nav-item .nav-link:hover{
background: white;
border-radius: 5px;
color: #A68A6B;
}
#navbar form button{
background: #A68A6B;
color: white;
border: 1px solid #A68A6B;
}
#navbar form button:hover {
  background: white;
  color: #A68A6B; 
  border: 1px solid white;
}
/* navbar */

/* home */
#home{
  width: 100%;
  height: 90vh;
  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./assets/homepage.jpg);
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Montserrat', serif;
}
.content{
padding-top: 210px;
margin-left: 56px;
}
.content h3{
font-size: 50px;
color: white;
}
.content p{
margin-top: 10px;
color: white;
}
#btn{
width: 150px;
height: 36px;
margin-top: 20px;
background: transparent;
border: 2px solid white;
color: white;
border-radius: 5px;
transition: 0.5s;
cursor: pointer;
}
#btn:hover{
background: white;
color: #A68A6B;
}
/* home */

/* sobre-nos */
#sobre-nos{
  width: 100%;
  height: 100vh;
  background: #FFFAF0;
  font-family: 'Montserrat', sans-serif;
}
#sobre-nos .container{
  padding-top: 70px;
}
.heading{
  text-align: center;
  margin-bottom: 50px;
  color: #A68A6B;
  font-size: 30px;
  font-weight: bold;
}
#sobre-nos .card{
  border-radius: 10px;
  width: 80%;
}
#sobre-nos .card img{
  border-radius: 10px;
}
#sobre-nos-btn{
  width: 200px;
  height: 36px;
  background: transparent;
  border: 2px solid #A68A6B;
  color: #A68A6B;
  border-radius: 5px;
  font-weight: medium;
  transition: 0.5s;
  cursor: pointer;
}
#sobre-nos-btn:hover{
  background: #A68A6B;
  color: white;
}
#sobre-nos h3 {
  color:#A68A6B;
}
#sobre-nos p {
  color:#A68A6B;
}

/* cardapio */
#cardapio {
  padding: 50px 0;
  background-color: #FFFAF0;
}

#cardapio .heading {
  text-align: center;
  font-size: 2.5rem;
  color: #A68A6B;
  margin-bottom: 40px;
}

#cardapio .categoria h2 {
  font-size: 2rem;
  color: #A68A6B;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 30px; 
}

#cardapio .card {
  border: 1px solid #E0E0E0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
  margin-top: 30px;
}

#cardapio .card:hover {
  transform: translateY(-5px);
}

#cardapio .card-img-top {
  height: 300px;
  object-fit: cover;
}

#cardapio .card-title {
  font-size: 1.25rem;
  font-weight: 500;
  color: #A68A6B;
  margin-bottom: 10px;
}

#cardapio .card-text {
  font-size: 1rem;
  color: #A68A6B;
  margin-bottom: 15px;
}

#cardapio .price {
  font-size: 1.1rem;
  color: #A68A6B;
  font-weight: bold;
}

/* footer */
#footer .redes-sociais i {
  margin-right: 10px; 
}
#footer .copyright{
  color: white; 
}
html{
scroll-behavior: smooth;
}